.email {
    text-decoration: underline;
    text-decoration-color: #fe7f2d ;
}

.footer-indhold {
    padding: 10px 20px;
    background-color: #a1c181;
    display: flex;
    justify-content: space-evenly;
}

.footer-icon {
    height: 40px;
    margin: 3px;
}

.fotter-icons {
display: flex;
align-items: center;

}

.icons {
    display: flex;
    justify-content:space-between;

}

.footer-info {
    margin: 1em 2em;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tern-foot {
margin-bottom: -4px;
}

/* to make footer meet the bottom of the page */

footer { 
    width: 100%;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}