* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --charcoal: #233d4d;
    --pumpkin:#fe7f2d;
    --sunglow:#fcca46;
    --olivine:#a1c181;
    --zomp:#619b8a;
}

body {
    background-color:#f6efef;
color: #233d4d;
}

.tern-nav-foot-img {
    max-width: 100%;
}