* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --charcoal: #233d4d;
    --pumpkin:#fe7f2d;
    --sunglow:#fcca46;
    --olivine:#a1c181;
    --zomp:#619b8a;
}

body {
    background-color:#f6efef;
color: #233d4d;
}

.tern-nav-foot-img {
    max-width: 100%;
}



/* 404 page */

.box404 {
background-color:#a1c181;
margin:20%;
padding:10%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
border-radius: 8px;
border: 4px solid #4b4b4b
}

.text404 {
margin: 10px 10px 40px 10px;
font-size: 2em;
}

.but404 a {
    padding: 5px;
text-decoration: none;
color: #233d4d;
background-color: #619b8a;
border-radius: 8px;
font-size: 1.5em;
}

.but404 {
    border: #233d4d;
}

/* feedback */
.h1, .hor-tern {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    gap: 1em;
    font-size: 1.5rem;
}

.h2 {
    max-width: 55em;
    gap: 1.5rem;
    margin: 2em  4em;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.p1, h2{
    margin-bottom: 10px;
}

.h2 p {
    gap: 1em;
}

ul {
    margin-left: 20px;
}

.feed-img {
    max-width: 140%;
    height: auto;   
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 0;
}

.feed-form {
    background-color: #a1c181;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;

}

.feed-p {
    max-width: 20em;
    margin: 1em;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 0.5em 2em;

    background-color: #a1c181;
    color: #fe7f2d;
    border: none;
    font-size: 1.5rem;
}

.input-til-feedback {
    margin: 0.5em 1em;
}

.kommentar-felt {
margin: 2em;
}

.full-form {
    margin-left: auto;
    margin-right: auto;

}

.form-tern {
    max-height: 803px; 
    width: auto;

}


/* events */

.dropdowns {
    margin: 1em;
    gap: 1em;
    display: flex;
    justify-content: end;
    align-content: center;
}

#dropdown1, #dropdown2, #dropdown3 {
    background-color: #a1c181;
    color: #233d4d;
    border: #233d4d solid 2px;
    max-width: 130px;
    min-width: 130px;
    padding: 5px;
    align-items: center;
}


.events {

}

.side-numbers {
color: #fe7f2d;
display: flex;
justify-content: center;
margin: 1rem;
}

.side-numbers a {
    text-decoration: none;
    color: #fe7f2d;
}